#Home {
  .containerHome {
    background-color: rgba(209, 155, 38, 0.242);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    height: 100%;
    width: 430px;
    overflow: hidden;
  }
}

@media (min-width: 991.98px) {
  #Home {
    .containerHome {
      border: 1px solid black;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 15px;
    }
  }
}
