.elementInputSugestao {
  padding: 12px 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;

  .buttonSend {
    border-radius: 5px;
    background-color: #0e4216;
    border: none;
    color: white;
    font-size: 20px;
    height: 50px;
    transition: all .3s;

    &:active {
      background-color: #08240c;
    }
  }
}